<!doctype html>
<html lang="pt" ng-app="Calculadora">
	<head>  
	    <meta charset="UTF-8">
	    <title>Contador de cliques</title>
	</head>
	<body ng-controller="CalculadoraController"> 
	    
	    <input type="numeric" name="v1" ng-model="numUm"/>
	    <input type="numeric" name="v2" ng-model="numDois"/>

	    <button ng-click="somar()">Somar</button> 
	    <br/>
	    <label>"Resultado: {{resultado}}"</label> 
	    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js">
	    </script> 
	    <script src="js/main.js"></script>
	    <script src="js/calculadora-controller.js"></script>
	</body>
</html>