<div class="container">
    <h2 class="text-center">Cadastro de Aluno</h2>
    <hr />
    <div class="alert alert-success" role="alert">
        Formulário enviado com sucesso!
        <br /> {{debug()}}
    </div>

    <div class="alert alert-success" role="alert" *ngIf="sucesso">
        Formulário enviado com sucesso!
        <br />
        {{debug()}}
    </div>

    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label class="control-label">Nome</label>
                <input type="text" class="form-control" name="nome" id="nome">
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input type="text" class="form-control" name="email" id="email">
            </div>
            <div class="form-group">
                <label class="control-label">Idade</label>
                <input type="text" class="form-control" name="idade" id="idade">
            </div>
            <div class="form-group">
                <label class="control-label">Curso</label>
                <select name="curso" id="curso" class="form-control">
                <option value="">Selecione</option>
                <option>

                </option>
            </select>
            </div>
            <hr />
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
        </form>
    </div>
</div>
